{% load static %}
<nav class="navbar navbar-expand-lg custom-navbar">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand d-flex align-items-center" href="{% url 'about' %}">

            <img src="{% static 'home/images/logo.png' %}" alt="Logo" class="nav-logo">

            <span class="brand-text">Pratik Jewellers</span>

        </a>

        <!-- Mobile Button -->

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Menu -->

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <ul class="navbar-nav align-items-center">

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle"
       href="#"
       id="navbarDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">

        Collections

    </a>

    <ul class="dropdown-menu">

        <li><a class="dropdown-item" href="{% url 'gold' %}">Gold Jewellery</a></li>

       <li><a class="dropdown-item" href="{% url 'silver' %}">
    Silver Jewellery
</a></li>

        <li><a class="dropdown-item" href="{% url 'diamond' %}">Diamond Jewellery</a></li>

        <li><a class="dropdown-item" href="{% url 'bridal' %}">Bridal Collection</a></li>

        <li><a class="dropdown-item" href="{% url 'custom' %}">Custom Jewellery</a></li>

        <li><a class="dropdown-item" href="{% url 'coins' %}">Gold Coins</a></li>

    </ul>

</li>

                <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">
        About Us
    </a>
</li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>

                <li class="nav-item ms-3">

<form class="search-form" method="GET" action="{% url 'search' %}">

<div class="search-box">

    <input
        type="search"
        id="searchInput"
        name="q"
        placeholder="Search Jewellery..."
        aria-label="Search">

    <button type="button" id="voiceSearchBtn" class="voice-btn">
        <i class="fas fa-microphone"></i>
    </button>

    <button type="submit" class="search-btn">
        <i class="fas fa-search"></i>
    </button>

</div>

</form>

</li>

                <!-- Icons -->

                <li class="nav-item icon-item">
                    <a class="nav-link" href="{% url 'wishlist' %}">
    <i class="fas fa-heart"></i>
</a>
                </li>

                

            </ul>

        </div>

    </div>

</nav>
